/*SEMATYCZNE*/
*{
border: 0px;
margin: 0px;
box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}

header{
width: 100%;
height: 5%;
margin: auto;
background-color: #F5DF4D;
float: left;
font-family: 'Lobster', cursive;
color:#000033;
font-size:30px;
font-weight:lighter;
}
nav{
width: 100%;
height: 7%;
margin: auto;
background-color: #0072B5;
float: left;
font-family: 'Indie Flower', cursive;
color:#99ff66;
position: relative;
}
article{
width: 100%;
height: 86%;
margin: auto;
background-color: #88B04B;
float: left;
font-family: 'Architects Daughter', cursive;
font-size:20px;
color:white;
}
footer{
width: 100%;
height: 2%;
margin: auto;
background-color: #926AA6;
float: right;
text-align: center;
}
/*ID*/

#kontener{
width: 100%;
height: 100%;
margin: 0px;
}

/*KLASY*/
.word_past{
  margin-left: auto;
  margin-right: auto;
}

.contact{
  padding-top:38%;
  padding-left:20px;
}
.nav_topics{

  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display:block;
  float: left;
  padding-right: 20px;
  font-size: 20px;
}

.nav_test{

  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display:block;
  float: left;
  padding-right: 20px;
  font-size: 20px;
}

.kolor{
  color:#CC0099;
}

/* LINKI */
a:link
{
  color:white;
    text-decoration: none;
}
a:hover{
  color:white;
}
a:visited{
  color: yellow;
}
/*RESPONSYWNOŚĆ*/

@media screen and (max-width:1200px){
  .nav_topics{
    font-size:auto;
  }

  nav{
    height: auto;
  }

  article{
    height: auto;
  }

.nav_test{
  text-align: center;
  float:right;
}
}
@media screen and (max-width:1200px){
  .nav_topics{
    font-size:auto;
  }
  .nav_test{
    margin-right: 50%;
    margin-left: 50%;
  }

  nav{
    height: auto;
  }
  article{
    height: auto;
    min-height:90%;
  }
  #test{
    font-size:25px;
  }
  header{
    font-size:40px;
  }
}
